@import url(https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    background: linear-gradient(to bottom right, #4568DC, #B06AB3);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
font-family: 'Raleway', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1.2em;
}

.input-group {
    padding: 1em 0;
}

